.contact-us-child {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #fff9f9, #fff);
  width: 90rem;
  height: 36rem;
  display: none;
}
.button-0413,
.button-base52 {
  border-radius: var(--br-5xs);
  flex-direction: row;
}
.button-base52 {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-base);
}
.button-0413 {
  display: none;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--gray-500);
}
.button-base53 {
  background-color: var(--primary-50);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--primary-50);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-base);
}
.button-0213,
.button-0313,
.button-base53,
.button-base54 {
  border-radius: var(--br-5xs);
  flex-direction: row;
}
.button-0313 {
  display: none;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--primary-700);
}
.button-0213,
.button-base54 {
  display: flex;
}
.button-base54 {
  background-color: var(--primary-red);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--primary-red);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-base);
}
.button-0213 {
  align-items: flex-start;
  justify-content: flex-start;
}
.actions13,
.actions14,
.button-0113 {
  display: none;
  flex-direction: row;
  justify-content: flex-start;
}
.button-0113 {
  border-radius: var(--br-5xs);
  align-items: flex-start;
}
.actions13,
.actions14 {
  position: absolute;
  top: 100.13rem;
  left: 56.31rem;
  align-items: center;
  gap: var(--gap-xs);
}
.actions14 {
  top: 141.25rem;
}
.div8 {
  position: absolute;
  top: 230.19rem;
  left: 15.44rem;
  font-size: var(--text-md-semibold-size);
  line-height: 1.5rem;
  color: var(--gray-900);
  display: inline-block;
  width: 33.19rem;
}
.heading2,
.subheading {
  align-self: stretch;
  position: relative;
}
.subheading {
  line-height: 1.5rem;
  font-weight: 600;
}
.heading2 {
  font-size: var(--display-lg-bold-size);
  letter-spacing: -0.02em;
  line-height: 3.75rem;
  color: var(--gray-900);
}
.heading-and-subheading {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.supporting-text {
  position: relative;
  font-size: var(--text-xl-semibold-size);
  line-height: 1.88rem;
  color: var(--gray-600);
  display: inline-block;
  width: 48rem;
}
.heading-and-supporting-text {
  width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.content14 {
  align-self: stretch;
}
.container,
.content14,
.header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.container {
  width: 80rem;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
}
.header-section {
  align-self: stretch;
  background-color: var(--white);
  padding: var(--padding-77xl) 0;
}
.featured-icon {
  position: relative;
  border-radius: var(--br-9xl);
  width: 3.5rem;
  height: 3.5rem;
}
.supporting-text1,
.text83 {
  align-self: stretch;
  position: relative;
}
.text83 {
  line-height: 1.88rem;
  font-weight: 600;
}
.supporting-text1 {
  font-size: var(--text-md-semibold-size);
  line-height: 1.5rem;
  color: var(--gray-600);
}
.text-and-supporting-text {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.placeholder-icon {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.text84 {
  text-decoration: none;
  position: relative;
  line-height: 1.5rem;
  font-weight: 600;
  color: inherit;
}
.button,
.contact-text {
  display: flex;
  align-items: center;
}
.button {
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-5xs);
  font-size: var(--text-md-semibold-size);
}
.contact-text {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.text86 {
  position: relative;
  line-height: 1.5rem;
  font-weight: 600;
}
.content15 {
  width: 76rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.contact-page-header,
.container1,
.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.container1 {
  width: 80rem;
  align-items: flex-start;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
}
.contact-page-header,
.section {
  background-color: var(--white);
  align-items: center;
}
.section {
  align-self: stretch;
  padding: 0 0 var(--padding-77xl);
  font-size: var(--text-xl-semibold-size);
  color: var(--gray-900);
}
.contact-page-header {
  position: absolute;
  top: 5.19rem;
  left: calc(50% - 720px);
  width: 90rem;
  overflow: hidden;
  text-align: center;
  font-size: var(--text-md-semibold-size);
  color: var(--primary-red);
}
.logo-icon2,
.rebucom-1-icon2 {
  position: absolute;
  top: 1.25rem;
  left: 7rem;
  width: 8.88rem;
  height: 2rem;
  display: none;
}
.rebucom-1-icon2 {
  left: 16.69rem;
  width: 3.76rem;
  object-fit: cover;
}
.rebucom-logo-1-14 {
  position: absolute;
  top: 1.69rem;
  left: 7rem;
  width: 7.22rem;
  height: 1.75rem;
  overflow: hidden;
}
.text89 {
  text-decoration: none;
  position: relative;
  line-height: 1.5rem;
  font-weight: 500;
  color: inherit;
}
.content16 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.nav-item-base10 {
  border-radius: var(--br-7xs);
  overflow: hidden;
  padding: var(--padding-5xs) var(--padding-xs);
}
.nav-item-base10,
.nav-item-base12,
.navigation2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.nav-item-base12 {
  border-radius: var(--br-7xs);
  background-color: var(--primary-red-50);
  overflow: hidden;
  padding: var(--padding-5xs) var(--padding-xs);
  color: var(--primary-red);
}
.navigation2 {
  position: absolute;
  top: 1.31rem;
  left: calc(50% - 271px);
  gap: var(--gap-5xl);
}
.button-base62 {
  text-decoration: none;
  border-radius: var(--br-5xs);
  background-color: var(--primary-red);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--primary-red);
  overflow: hidden;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-base);
  color: inherit;
}
.actions15,
.button-base62,
.text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.actions15 {
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--text-sm-normal-size);
  color: var(--white);
}
.text-container {
  position: absolute;
  top: calc(50% - 20.5px);
  right: 6.63rem;
  justify-content: center;
  gap: var(--gap-xl);
}
.frame-inner,
.nav2 {
  position: absolute;
  top: 0;
  left: 0;
}
.nav2 {
  margin: 0;
  background-color: var(--white);
  width: 90rem;
  height: 5.19rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--text-md-semibold-size);
  color: var(--gray-900);
  font-family: var(--text-sm-normal);
}
.frame-inner {
  width: 53.56rem;
  height: 57rem;
  object-fit: cover;
}
.pin-marker-icon {
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% - 0.5px);
  width: 2.82rem;
  height: 3.19rem;
  overflow: hidden;
}
.zoom-control-buttons {
  position: relative;
  width: 2.13rem;
  height: 3.69rem;
}
.rectangle {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-11xs);
  background-color: var(--white);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.pegman-offscreen-2x {
  position: absolute;
  height: 71.43%;
  width: 42.86%;
  top: 14.29%;
  right: 28.57%;
  bottom: 14.29%;
  left: 28.57%;
}
.street-view-button {
  position: relative;
  width: 1.75rem;
  height: 1.75rem;
}
.zoom-control-buttons-parent {
  position: absolute;
  top: 1.25rem;
  left: 42.48rem;
  width: 2.06rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.satellite {
  width: 42.55%;
  top: 27.59%;
  left: 48.94%;
  display: inline-block;
}
.line148,
.map,
.satellite {
  position: absolute;
}
.line148 {
  height: 103.45%;
  width: 0.9%;
  top: -1.72%;
  right: 59.12%;
  bottom: -1.72%;
  left: 39.97%;
  border-right: 1px solid #f2f2f2;
  box-sizing: border-box;
}
.map {
  width: 23.4%;
  top: 27.59%;
  left: 8.51%;
  font-weight: 500;
  color: var(--color-black);
  display: inline-block;
}
.map-type-button-group {
  position: absolute;
  top: 1.25rem;
  left: 1.4rem;
  width: 6.92rem;
  height: 1.81rem;
}
.rectangle-group {
  position: relative;
  width: 46.38rem;
  height: 53rem;
  overflow: hidden;
  flex-shrink: 0;
}
.sign-in-to {
  position: relative;
  line-height: 2.38rem;
  font-weight: 600;
}
.enter-your-details {
  align-self: stretch;
  position: relative;
  font-size: var(--text-md-semibold-size);
  line-height: 1.5rem;
  color: var(--a3);
  text-align: left;
}
.sign-in-to-your-acco-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xs);
}
.label,
.text99 {
  position: relative;
}
.label {
  line-height: 1.25rem;
  font-weight: 500;
}
.text99 {
  flex: 1;
  line-height: 1.5rem;
}
.content21 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.help-icon2 {
  position: relative;
  width: 1rem;
  height: 1rem;
  display: none;
}
.input2 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--gray-300);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-sm);
  gap: var(--gap-5xs);
  font-size: var(--text-md-semibold-size);
  color: var(--gray-400);
}
.hint-text2 {
  align-self: stretch;
  position: relative;
  line-height: 1.25rem;
  color: var(--gray-500);
  display: none;
}
.input-field-base {
  gap: var(--gap-7xs);
}
.input-field,
.input-field-base,
.input6 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.input6 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--gray-300);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-sm);
  gap: var(--gap-5xs);
  font-size: var(--text-md-semibold-size);
  color: var(--gray-400);
}
.input-field-base4 {
  flex: 1;
  gap: var(--gap-7xs);
}
.input-field-base4,
.input-field-parent,
.input-field4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-field4 {
  height: 9.63rem;
}
.input-field-parent {
  overflow: hidden;
  gap: var(--gap-5xl);
}
.button-base64 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--primary-red);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--primary-red);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) 1.25rem;
}
.button3,
.frame-parent32 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button3 {
  border-radius: var(--br-5xs);
  flex-direction: row;
  color: var(--white);
}
.frame-parent32 {
  flex-direction: column;
  gap: var(--gap-29xl);
  text-align: left;
  font-size: var(--text-sm-normal-size);
  color: var(--gray-700);
}
.frame-parent31,
.frame-wrapper9 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-parent31 {
  width: 29.63rem;
  flex-direction: column;
  gap: var(--gap-21xl);
}
.frame-wrapper9 {
  width: 43.44rem;
  flex-direction: row;
  padding: 3.5rem;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--display-sm-semibold-size);
  color: var(--primary);
  font-family: var(--text-sm-normal);
}
.shape2 {
  position: absolute;
  top: 5.06rem;
  left: 46.5rem;
  border-radius: 50%;
  background-color: var(--primary-red-900);
  width: 41.69rem;
  height: 41.69rem;
  opacity: 0.32;
}
.vector-icon3 {
  position: absolute;
  height: 138.86%;
  width: 47.4%;
  top: 0;
  right: 52.6%;
  bottom: -38.86%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.coming-soon2 {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 160%;
  text-transform: uppercase;
  opacity: 0.7;
}
.download-our-rebucom2 {
  align-self: stretch;
  position: relative;
  font-size: var(--display-md-bold-size);
  letter-spacing: -0.02em;
  line-height: 2.75rem;
  font-family: var(--text-sm-normal);
}
.coming-soon-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.button-base67 {
  text-decoration: none;
  border-radius: var(--br-5xs);
  background-color: var(--gray-900);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--gray-900);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-base);
  color: inherit;
}
.actions16,
.frame-parent34 {
  display: flex;
  justify-content: flex-start;
}
.actions16 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xs);
  font-family: var(--text-sm-normal);
}
.frame-parent34 {
  position: absolute;
  top: calc(50% - 98.5px);
  left: 7.25rem;
  width: 25.44rem;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-13xl);
}
.iphone-13-pro2 {
  position: absolute;
  height: 91.73%;
  width: 44.72%;
  top: 8.27%;
  right: 12.29%;
  bottom: 0;
  left: 42.99%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rebucom-logo-1-15,
.shape-container {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.shape-container {
  background-color: var(--primary-red);
  width: 90rem;
  height: 24.94rem;
}
.rebucom-logo-1-15 {
  width: 12.64rem;
  height: 3.06rem;
}
.a-speed-like2 {
  position: relative;
  line-height: 1.25rem;
  display: inline-block;
  width: 22.38rem;
  opacity: 0.8;
}
.rebucom-logo-1-1-container {
  position: absolute;
  top: 4.75rem;
  left: 6.88rem;
  width: 17.63rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.address2 {
  position: relative;
  line-height: 1.25rem;
  font-weight: 600;
  display: inline-block;
  width: 22.38rem;
}
.address-container {
  position: absolute;
  top: 12.56rem;
  left: 6.88rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.info2 {
  font-weight: 500;
}
.home2,
.info2 {
  position: relative;
  line-height: 1.5rem;
  display: inline-block;
  width: 10.81rem;
}
.home-container,
.info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.info-container {
  gap: var(--gap-xl);
}
.facebooklogo-icon2,
.twitterlogo-icon2 {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
}
.twitterlogo-icon2 {
  display: none;
}
.x-svg-icon2 {
  position: relative;
  width: 1.38rem;
  height: 1.25rem;
  overflow: hidden;
  flex-shrink: 0;
}
.facebooklogo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.frame-parent35 {
  position: absolute;
  top: 4.75rem;
  left: 40.25rem;
  width: 42.75rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: var(--text-md-semibold-size);
}
.rebucom-all-rights2 {
  position: absolute;
  top: 23rem;
  left: calc(50% - 121.5px);
  line-height: 1.25rem;
  color: var(--gray-400);
}
.footer-child2 {
  position: absolute;
  top: 0;
  left: 6.88rem;
  width: 76.13rem;
  height: 0.05rem;
}
.footer-child3 {
  position: absolute;
  top: 20.7rem;
  left: calc(50% - 604px);
  width: 75.44rem;
  height: 0.09rem;
}
.footer2 {
  position: relative;
  background-color: var(--white);
  width: 90.06rem;
  height: 27.06rem;
  overflow: hidden;
  flex-shrink: 0;
  color: var(--gray-900);
  font-family: var(--text-sm-normal);
}
.frame-parent29,
.frame-parent33 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent33 {
  align-items: flex-end;
  font-size: var(--text-sm-normal-size);
  color: var(--white);
  font-family: var(--font-basier-circle);
}
.frame-parent29 {
  position: absolute;
  top: 44.94rem;
  left: -0.03rem;
  align-items: center;
  font-size: var(--font-size-2xs);
  color: #565656;
  font-family: var(--font-roboto);
}
.contact-us {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 149.94rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--text-sm-normal-size);
  color: var(--white);
  font-family: var(--text-sm-normal);
}
