body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --text-sm-normal: Inter;
  --font-basier-circle: "Basier Circle";
  --font-roboto: Roboto;
  --buttons-12: "Public Sans";
  --font-inherit: inherit;

  /* font sizes */
  --text-sm-normal-size: 0.88rem;
  --text-md-semibold-size: 1rem;
  --display-lg-bold-size: 3rem;
  --display-md-bold-size: 2.25rem;
  --text-xs-medium-size: 0.75rem;
  --font-size-19xl: 2.38rem;
  --display-sm-semibold-size: 1.88rem;
  --font-size-2xs: 0.69rem;
  --text-xl-semibold-size: 1.25rem;
  --text-lg-semibold-size: 1.13rem;
  --display-xl-semibold-size: 3.75rem;
  --display-xs-semibold-size: 1.5rem;
  --font-size-mid: 1.06rem;
  --font-size-4xs-8: 0.55rem;

  /* Colors */
  --white: #fff;
  --gray-50: #f9fafb;
  --gray-100: #f2f4f7;
  --gray-200: #e4e7ec;
  --e4e6e8-outline-onlight: #e4e6e8;
  --gray-600: #475467;
  --gray-7001: #3f3f46;
  --gray-700: #344054;
  --color-black: #000;
  --accent-04: #efc959;
  --primary-red: #d10121;
  --primary-50: #f9f5ff;
  --primary-700: #6941c6;
  --gray-500: #667085;
  --gray-400: #98a2b3;
  --primary: #171721;
  --gray-9001: #18181b;
  --gray-900: #101828;
  --color: #0f172a;
  --black: #12141d;
  --primary-red-900: #330000;
  --gray-300: #d0d5dd;
  --success-50: #ecfdf3;
  --success-700: #027a48;
  --warning-100: #fef0c7;
  --a3: #8083a3;
  --primary-red-50: #fff5f5;
  --warning-50: #fffaeb;
  --warning-700: #b54708;
  --error-600: #d92d20;
  --success-500: #12b76a;
  --accent-01: #fffcf6;
  --blue-100: #d1e9ff;

  /* Gaps */
  --gap-mid: 1.06rem;
  --gap-6xs: 0.44rem;
  --gap-29xl: 3rem;
  --gap-xs: 0.75rem;
  --gap-xl: 1.25rem;
  --gap-5xl: 1.5rem;
  --gap-54xl-7: 4.61rem;
  --gap-base: 1rem;
  --gap-7xs: 0.38rem;
  --gap-5xs: 0.5rem;
  --gap-13xl: 2rem;
  --gap-9xs: 0.25rem;
  --gap-150xl: 10.56rem;
  --gap-14xl: 2.06rem;
  --gap-4xl: 1.44rem;
  --gap-21xl: 2.5rem;
  --gap-45xl: 4rem;
  --gap-4xs-5: 0.53rem;
  --gap-10xs-5: 0.16rem;

  /* Paddings */
  --padding-3xs: 0.63rem;
  --padding-base: 1rem;
  --padding-5xs: 0.5rem;
  --padding-xs: 0.75rem;
  --padding-77xl: 6rem;
  --padding-99xl: 7.38rem;
  --padding-lg: 1.13rem;
  --padding-11xs: 0.13rem;
  --padding-7xs: 0.38rem;
  --padding-sm: 0.88rem;
  --padding-13xl: 2rem;
  --padding-5xl: 1.5rem;
  --padding-92xl: 6.94rem;
  --padding-mid: 1.06rem;
  --padding-10xs-8: 0.18rem;
  --padding-sm-1: 0.82rem;
  --padding-7xl-2: 1.64rem;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-9xs: 4px;
  --br-7xs: 6px;
  --br-81xl: 100px;
  --br-71xl: 90px;
  --br-base: 16px;
  --br-11xs: 2px;
  --br-9xl: 28px;
  --br-3xs: 10px;
  --br-8xs: 5px;
  --br-xs-3: 11.3px;
  --br-62xl-8: 81.8px;
  --br-5xs-4: 7.4px;

  /* Effects */
  --shadow-portfolio-mockup-grid-shadow-md: 32px 32px 64px
    rgba(52, 64, 84, 0.08);
  --shadow-xs: 0px 1px 2px rgba(16, 24, 40, 0.05);
}
